# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches:
      - main
      - 'releases/**'
  release:
    types: [created]


jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install node deps
        run: npm install

  publish-npm:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v1

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'

      - name: Installing NPM deps
        run: npm install

      - name: Build modules
        run: npm run build

      - name: NPM login
        run: echo -e "@oleksandrmaksymenko:registry=https://npm.pkg.github.com \n//npm.pkg.github.com/:_authToken=${secrets.TOKEN}" > ~/.npmrc

      - name: Publishing on NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.TOKEN}}
